.consult-header {
  color: rgba(16, 16, 16, 1);
  font-size: 16px;

  &-desc {
    line-height: 24px;
  }

  &-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    font-size: 12px;

    .am-button {
      font-size: 14px;
      height: 24px;
      line-height: 24px;
    }
  }
}