@font-face {
    font-family: 'iconfont';  /* project id 967823 */
    src: url('//at.alicdn.com/t/font_967823_0ewa1yhco55f.eot');
    src: url('//at.alicdn.com/t/font_967823_0ewa1yhco55f.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_967823_0ewa1yhco55f.woff') format('woff'),
    url('//at.alicdn.com/t/font_967823_0ewa1yhco55f.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_967823_0ewa1yhco55f.svg#iconfont') format('svg');
}